* {
  margin: 0;
  padding: 0;
/*  font-family: 'Lato', sans-serif;
  font-weight: lighter;
*/}

body {
  height: 100vh;
}

.app {
  height: 100vh;
  background-image: url("public/img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* ----- Sidebar ----- */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #666666;
  width: 19%;
  position: absolute;
  left: 9%;
}

.name {
  text-align: center;
  font-size: 1.5em;
  margin: 17% 7% 4%;
  border-bottom: 2px #000000 solid;
  padding-bottom: 4%;
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: 'Marvel', sans-serif;
  font-weight: bold;
}

.submenuTitleContainer {
  display: inline-flex;
  align-items: center;
}

.submenuTitle {
  text-align: left;
  font-size: 1em;
  padding: 1vw 0vw 1.2vw;
  text-decoration: underline;
  font-family: 'Marvel', sans-serif;
  font-weight: bold;
}

.submenuTitle:hover {
  text-decoration: none;
  cursor: pointer;
}

.triangle {
  width: 15%;
  height: 15%;
  padding-left: 0.5vw;
}

/* ----- Submenu ----- */

ul {
  list-style-type: none;
}

.submenuItem {
  padding-left: 3.5vw;
  font-size: 1.5vh;
  font-family: 'Chathura', sans-serif;
  font-weight: bold;
}

.submenuItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.submenuItem:last-child {
  padding-bottom: 0.5vh;
}

/* ----- Modal ----- */

/*.rodal {
  width: 750px;
  height: 480px;
}
*/

.modalHeading {
  font-family: 'Cormorant Unicase', serif;

}

/* ----- Built by Nobody ----- */

.builtByNobody {
  margin-bottom: 1vh;
  font-size: 1.7vh;
}

.nobody {
  text-decoration: none;
  color: #000000;
}

.nobody:hover {
  text-decoration: line-through;
}